{% extends "layout.html" %}
{% block body %}
<div><a href="{{ url_for('homepage') }}">(- 回首页)</a></div>
<h1>ACM 班个人页面使用帮助</h1>
<p>ACM 班个人页面旨在为 ACM 班学生提供一个可以放置个人学术网站的空间。</p>
<ul>
    <li>管理页面： <a href="https://acm.sjtu.edu.cn/userpage-manage">https://acm.sjtu.edu.cn/userpage-manage</a></li>
    <li>只支持静态页面</li>
    <li>文件夹自动索引开启，如文件夹内没有 index.html，则会显示文件列表</li>
    <li>文件配额：100 MiB</li>
    <li>文件上传方式：Git HTTPS</li>
    <li>文件上传地址：请在 <a href="{{ url_for('set_token') }}">获取/重置密钥</a> 页面查看</li>
    <li>如果提示大小超过配额，或者有其他无法解决的问题，可尝试 <a href="{{ url_for('reset_repo') }}">删除并重建仓库</a>。</li>
</ul>
{% endblock %}
