{% extends "layout.html" %}
{% block body %}
<h1>ACM 班个人页面管理</h1>
{% if user %}
<h2>你好，{{ user['name'] }} <small>({{ user['jaccount'] }}, {{ user['stuid'] }})</small></h2>
<ul>
    <li><a href="{{ url_for('set_token') }}">获取/重置密钥</a></li>
    {% if user_slug %}
    <li><a href="https://acm.sjtu.edu.cn/~{{ user_slug }}">访问我的页面</a></li>
    <li><a href="{{ url_for('reset_repo') }}">重置仓库</a></li>
    {% endif %}
    <li><a href="{{ url_for('logout') }}">登出 jAccount</a></li>
    <li><a href="{{ url_for('help') }}">查看帮助</a></li>
</ul>
{% else %}
<h2>你好</h2>
<ul>
    <li><a href="{{ url_for('login') }}">使用 jAccount 登入</a></li>
    <li><a href="{{ url_for('help') }}">查看帮助</a></li>
</ul>
{% endif %}

<hr>
<h2>用户列表</h2>
<ul>
{% for u in known_users %}
    <li><a href="https://acm.sjtu.edu.cn/~{{ u['slug'] }}">20{{ u['stuid'][1:3] }} 级 - {{ u['name'] }}</a></li>
{% endfor %}
</ul>
{% endblock %}
